<md-content layout-fill flex class="ie-flex md-padding home-container">
    <div hl-sticky="" class="simple">
        <div header class="not-sticky"></div>
        <div sticky-header class="sticks"></div>
    </div>
    <div layout="row" class="ie-flex" layout-fill>
        <div flex>
            <h2 class="page-title">{{'sidePages.faq.title' | translate}}</h2>
            <md-list flex>
                <div ng-repeat="i in [1,2,3,4,5,6,7,8]">
                    <md-list-item class="faq-question" ng-click="changeToggle(i);">
                        <md-icon style="margin: 16px 0 12px 32px;width: 24px;"
                                 ng-show="!toggle[i]">expand_more
                        </md-icon>
                        <md-icon style="margin: 16px 0 12px 32px;width: 24px;"
                                 ng-show="toggle[i]">expand_less
                        </md-icon>
                        <span flex ng-bind-html="changeText('sidePages.faq.item' + i + '.question' | translate)"></span>
                        <md-icon class="faq-dialog-icon">question_answer</md-icon>
                    </md-list-item>
                    <p class="faq-answer" ng-show="toggle[i]" flex-offset="5"
                       ng-bind-html="changeText('sidePages.faq.item' + i + '.answer' | translate)"></p>
                </div>
            </md-list>
        </div>
    </div>
</md-content>