<md-toast style="line-height: 3.5;">
    <span class="md-toast-text" flex>
    <i ng-class="'alert-error'" class="material-icons md-36">error</i>
        {{'transaction.create.208' | translate}}
    </span>
    <md-button class="md-highlight" ng-click="goToTnxDetail()">
        <span style="font-weight: bold;">
        {{'transaction.showDetail' | translate}}
        </span>
    </md-button>
    <md-button class="md-highlight" ng-click="closeToast()">
        <span style="font-weight: bold;">
        {{'general.words.close' | translate}}
        </span>
    </md-button>
</md-toast>