<md-dialog ng-cloak style="width: 600px;" class="auth-dialog" aria-label="CreateTrx">
    <form name="trxCreateForm" style="overflow: hidden;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'transaction.createTx' | translate}}</h2>
                <span flex></span>
                <md-button aria-label="close" class="dialog-close-btn" ng-click="cancel()">
                    <i class="material-icons md-24">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Hash</label>
                    <textarea ng-model="trx.hash" disabled>{{trx.hash}}</textarea>
                </md-input-container>
                <div>

                </div>
                <div>
                    <md-checkbox ng-model="trx.upload" aria-label="Checkbox 1">
                    </md-checkbox>
                    <label style="margin-right: 10px;">
                        {{'transaction.fileUploaded1' | translate}}
                        <span style="color: #2962ff;">{{'title' | translate}}</span>
                        {{'transaction.fileUploaded2' | translate}}
                    </label>
                </div>
                <md-input-container class="md-block" md-no-float>
                    <textarea placeholder="{{'general.words.desc' | translate}}" maxlength="400"
                              ng-model="trx.desc"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="button" ng-click="submit()" class="md-raised md-primary">{{'general.words.submit' |
                translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>