<div style="overflow:hidden;">

    <md-toolbar hide-xs class="top-bar-sticky">
        <div layout="row" class="md-toolbar-tools">
            <div flex="10">
                <md-button ng-href="#/">{{'header.home' | translate}}</md-button>
            </div>
            <div flex="10">
                <md-button ng-href="#/validate">{{'header.validate' | translate}}</md-button>
            </div>
            <div layout="row" hide-xs flex="30" style="margin-left: auto;">
                <div style="margin-left: auto;" flex="35">
                    <md-button ng-if="!isLogin" ng-click="ctrl.signin()">{{'header.login' |
                        translate}}
                    </md-button>
                </div>
                <div style="" flex="35">
                    <md-button ng-if="!isLogin" ng-click="ctrl.signup()">{{'header.signup' |
                        translate}}
                    </md-button>
                </div>
                <md-menu layout="row" ng-if="isLogin" flex md-offset="40 50" style="direction: rtl;">
                    <div layout="row" flex="12" ng-click="ctrl.openMenu($mdMenu, $event)">
                        <div class="navbar-name">
                            <div layout="column" style="line-height: 18px;margin-top: 10px;">
                                <div style="font-weight: bold;font-size: 14px;">
                                    <span ng-show="fname">{{fname}}</span> <span ng-show="lname">{{lname}}</span>
                                </div>
                                <div>
                                    <!--<span style="color: #0067ce;font-weight: bold;font-size:14px;">{{'header.credit' | translate}}: {{credit || 0}} {{'header.utabit' | translate}}</span>-->
                                </div>
                                <div>
                                    <span>{{email}}</span>
                                </div>
                            </div>
                        </div>
                        <canvas style="vertical-align: middle;" width="48" height="48" ng-show="!pic"
                                data-jdenticon-hash="{{userIdHash}}"></canvas>
                        <img ng-cloak ng-show="pic" class="avatar"
                             ng-src="data:image/jpg;base64,{{pic}}"/>
                    </div>
                    <md-menu-content width="3" class="ie-flex" style="font-weight: bold; font-size: 16px;">
                        <md-menu-item style="cursor: pointer;" ng-if="isLogin" ng-click="ctrl.profile()">
                            <span style="text-align: right;" flex="60"
                                  class="ie-flex">{{'header.profile' | translate}}</span><i flex="40"
                                                                                            class="material-icons">account_box</i>
                        </md-menu-item>
                        <md-menu-item style="cursor: pointer;" ng-if="isLogin" ng-click="ctrl.transactionList()">
                            <span style="text-align: right;" flex="60" class="ie-flex">{{'header.menu.transactions' | translate}}</span><i
                                flex="40" class="material-icons">view_list</i>
                        </md-menu-item>
                        <md-menu-item style="cursor: pointer" ng-if="isLogin" ng-click="ctrl.signout()">
                            <span style="text-align: right;" flex="60"
                                  class="ie-flex">{{'header.logout' | translate}}</span><i flex="40"
                                                                                           class="material-icons">exit_to_app</i>
                        </md-menu-item>
                    </md-menu-content>

                </md-menu>
            </div>
        </div>
    </md-toolbar>

    <md-toolbar hide-gt-xs class="top-bar vert-center-child" style="padding:10px;height: 80px;background-color: #363636!important;color: #FFFFFF!important;">
        <div layout="row" class="md-toolbar-tools" style="padding:0;">
            <div flex="10">
                <md-button md-no-ink style="color:#FFFFFF;" ng-click="toggleSideNav()"
                           ng-hide="isSideNavOpen()" class="" aria-label="Settings">
                    <i style="border:solid 1px rgba(78, 78, 78, 0.3);border-radius:2px;font-size: 30px;" class="material-icons">menu</i>
                </md-button>
            </div>
            <!--<h2 flex md-truncate></h2>-->
            <div flex="90" style="text-align:right;">
                <md-button class="flat-btn" style="font-weight: bold;" ng-if="isLogin"
                           ng-click="ctrl.signout()">{{'header.logout' | translate}}<i class="material-icons">exit_to_app</i>
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <md-sidenav ng-cloak hide-gt-xs class="md-sidenav md-whiteframe-4dp" style="background-color:#363636;"
                md-component-id="right">
        <md-toolbar layout="row" style="position: relative;background-color:#000000;">
            <div flex layout="row">
                <div flex="50">
                </div>
                <div flex="50" style="margin-top: 8px;">
                    <canvas ng-if="isLogin" style="vertical-align: middle;margin-right:10px;background-color: #363636;"
                            width="64" height="64" ng-show="!pic" data-jdenticon-hash="{{userIdHash}}"></canvas>
                    <img ng-if="isLogin" ng-show="pic" class="avatar"
                         style="display: block;margin-left:auto;"
                         ng-src="data:image/jpg;base64,{{pic}}"/>
                    <div ng-if="isLogin"
                         style="font-size: 12px;margin-top: 7px;margin-bottom: 20px;padding-right: 10px;">
                        <div style="font-size: 16px;font-weight: bold;">
                            <span ng-show="fname">{{fname}}</span> <span ng-show="lname">{{lname}}</span>
                        </div>
                        <span>{{email}}</span>
                        <!--<div style="font-weight: bold;">{{'header.credit' | translate}}: {{credit || 0}} {{'header.utabit' | translate}}</div>-->
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-content layout="column" style="background-color:#363636;">
            <div ng-show="false" layout="row">

                <div ng-if="isLogin" flex="50">
                    <img ng-show="!pic" class="avatar" ng-cloak
                         ng-src="data:image/svg+xml;base64,{{identicon}}">
                    <img ng-cloak ng-show="pic" class="avatar"
                         ng-src="data:image/jpg;base64,{{pic}}"/>
                </div>
            </div>
            <md-list>
                <div>
                    <md-list-item>
                        <md-button class="md-primary"
                                   style="font-size: 16px;
                                   width: 100%; color: #ffffff; !important;font-weight: bold;"
                                   ng-click="ctrl.signin()">
                            {{'header.login' | translate}}
                        </md-button>

                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-button class="md-primary"
                                   style="font-size: 16px;
                                   width: 100%; color: #ffffff; !important;font-weight: bold;"
                                   ng-click="ctrl.signup()">
                            {{'header.signup' | translate}}
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <a style="text-align:center;width: 100%;" ng-href="#/">
                            <md-button class="md-primary"
                                       style="font-size: 16px;color: #ffffff!important;font-weight: bold;">
                                {{'header.home' | translate}}
                            </md-button>
                        </a>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
                <div>
                    <md-list-item>
                        <a style="text-align:center;width: 100%;" ng-href="#/validate">
                            <md-button class="md-primary"
                                       style="font-size: 16px;color: #ffffff!important;font-weight: bold;">
                                {{'header.validate' | translate}}
                            </md-button>
                        </a>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
                <div ng-if="isLogin">
                    <md-list-item>
                        <a style="text-align:center;width: 100%;" ng-href="#/transaction/list">
                            <md-button class="md-primary"
                                       style="font-size: 16px;color: #2962ff!important;font-weight: bold;">
                                {{'header.menu.transactions' | translate}}
                            </md-button>
                        </a>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
                <div ng-if="isLogin">
                    <md-list-item>
                        <md-button class="md-primary" ng-if="isLogin" ng-click="ctrl.profile()"
                                   style="width: 100%;font-size: 16px;color: #2962ff!important;font-weight: bold;">
                            {{'header.profile' | translate}}
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </md-list>
        </md-content>
    </md-sidenav>
</div>