<md-content layout="column"
            id="validate-md-content"
            style="overflow: hidden;background-color: rgba(176,170,152,0);color:#ffffff;"
            layout-align="center center">
    <section
            class="validate-uploadbox"
            layout="row" layout-align="center center"
            flex="100" ngf-drop-available="dropAvailable"
            ngf-drag-over-class="'dragover'"
            ng-model="file"
            ngf-drop="validateUpload($file)"
            ngf-select="validateUpload($file)"
            style="flex: 0 1 auto!important;">
        <div layout="column" style="position: relative; width: 100%;padding: 5%;">
            <div style="font-size:18px;padding: 10px;text-align: center;">
                {{'upload.validate_file' | translate}}
            </div>

            <div ng-if="status !== 'uploading'"
                 style="text-align: center;background:white;margin: 25px auto 5px auto;height: 150px;width: 150px;border: solid 7px #000000;border-radius: 1000px;">
                <i ng-if="status === 'ready'" style="position: relative;top: calc(35% - 40px);color: #0e47a1;"
                   class=""
                   aria-hidden="true"><img src="/resources/images/choose.png"></i>
                <i ng-if="status === 'ok'" style="position: relative;top: calc(35% - 10px);color: #1e852c;"
                   class="material-icons validate-status-icon"
                   aria-hidden="true">done</i>
                <i ng-if="status === 'error'" style="position: relative;top: calc(35% - 10px);color: #d40f23;"
                   class="material-icons validate-status-icon"
                   aria-hidden="true">clear</i>
                <!--<i ng-if="status === 'uploading'" style="position: relative;top: calc(40% - 10px);color: blue;" class="material-icons md-48 validate-status-iconn"
                   aria-hidden="true">person</i>-->
            </div>
            <div ng-if="status === 'uploading'" style="margin-bottom:25px;text-align: center;">
                <md-progress-circular class="md-hue-2"
                                      style="background:rgba(255,255,255,1);border-radius:50%;z-index:1000;margin: 0;position: absolute;top: 35%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);height:150px!important;width:150px!important;"
                                      md-diameter="150" md-mode="indeterminate"></md-progress-circular>
                <!--<h4 style="color:#0d47a1;z-index:1002;margin: 0;position: absolute;top: 23%;left:48%;margin-right: -50%;">Please wait...</h4>-->
                <div class="upload-radiation"></div>
                <div class="upload-radiation"></div>
                <div class="upload-radiation"></div>
            </div>
            <div ng-if="status === 'uploading'" style="width:150px; height:150px;">
            </div>

            <div style="margin-top:25px;font-size:16px;padding: 10px;text-align: center;">
                {{'upload.validate_desc' | translate}}
            </div>
        </div>
    </section>
</md-content>

