<md-dialog class="auth-dialog" aria-label="ForgetPassword">
    <form name="forgetPasswordForm" ng-submit="submit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'passwordRecover.forgotPassword' | translate}}</h2>
                <span flex></span>
                <md-button class="dialog-close-btn" ng-click="cancel()">
                    <i class="material-icons md-24">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>{{'general.words.email' | translate}}</label>
                    <input name="email" type="email" ng-model="userData.email" ng-pattern="/^.+@.+\..+$/" md-autofocus
                           required/>
                    <div ng-messages="forgetPasswordForm.email.$error" role="alert">
                        <div ng-message-exp="['pattern']">{{'general.input.validEmail' | translate}}</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <div ng-if="msg.status" ng-class="'alert-' + (msg.type || 'error')">{{'signin.'+msg.status |
                    translate}}
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" ng-disabled="forgetPasswordForm.$invalid" class="md-raised md-primary">{{'passwordRecover.forgotPassword' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>